
@import url('https://fonts.googleapis.com/css2?family=Fascinate&display=swap');



.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
  
   
}
.material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 800,
    'GRAD' 0,
    'opsz' 48
    
  }
  
img{
    margin-top: 60px;
    display: block inline;
    width: 100vh;
    height: 100vh;
}
h1{
    font-family: 'Fascinate'  
}


